{% load static %}
<!-- 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 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/68ab06de90.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'extensions/nav.html' %}
    <section class="container">

        <section id="btns">
            <button id="create-post-btn" onclick="toggleSection('create-post')">Create Post</button>
            <button id="manage-post-btn" onclick="toggleSection('manage-post')">Manage Posts</button>
        </section>

        <!-- Create Post Section -->
        <section id="create-post" class="form-section active">
            <div class="alert alert-success status_post" style="display: none;" role="alert" id="editor-empty-alert"></div>
            {% for message in messages %}
                <div class="alert alert-success"  role="alert" id="editor-empty-alert">
                    {{ message }}
                </div>
            {% endfor %}

            <h3>Create New Post</h3>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <section class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </section>

                <section class="form-group">
                    <label for="content">Content:</label>
                    <textarea id="content" name="content"></textarea>
                </section>

                <section class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept=".png, .jpg, .jpeg">
                </section>
                <section class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" id="category" name="category"  >
                </section>
                <section class="form-check">
                    <input type="checkbox" class="form-check-input" id="publish" name="publish">
                    <label class="form-check-label" for="publish">Publish</label>
                </section>
                <input type="hidden" name="current-time" id="current-time" value="">

                <button type="submit" class="btn btn-primary" name="submitpost" id="make-post">Create Post</button>
            </form>
        </section>

        <!-- Manage Post Section -->
        <section id="manage-post" class="form-section">
            <h2>Manage Posts</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Comments</th>
                        <th>Views</th>
                        <th>Delete</th>
                        <th>Publish</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class="numbering"></td>
                            <td style="white-space: nowrap;">{{ post.title|truncatewords:5 }}</td>
                            <td style="white-space: nowrap;" class="time-of-post">{{ post.time }}</td>
                            <td><a href="edit/{{ post.custom_id }}" class="set-btn" id="dp{{ post.custom_id }}">Edit</a></td>
                            <td class="comment-s"><a href="/dashboard/comments/{{ post.custom_id }}">{{ post.post.count }} <i class="fa-solid fa-comment green"></i></a></td>
                            <td>{{ post.views }}</td>
                            <form action="" method="post">
                                {% csrf_token %}

                                    <input type="hidden" name="delete_id" value="{{ post.custom_id }}">
                                    <td id="dp{{ post.custom_id }}"><button class="set-btn delpostnow" id = "{{ post.custom_id }}" name="deletePost">Delete</button></td>

                            </form>
                            <td><input type="checkbox" {% if post.publish == True %} checked {% endif %}  disabled></td>
                            <td style="white-space: nowrap;">{{ post.categories|truncatewords:4 }}</td>
                        </tr>
                    {% endfor %}                        
                </tbody>
            </table>
        </section>
        <script>

        </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="{% static  'Javascript/summernote.js' %}"></script>
    <script src="{% static  'Javascript/admin.js' %}"></script>
</body>
</html>
