{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
    <style>
        .header a{
            color: white;
        }
        .header a {
            text-decoration: none;
        }
        .header span{
            margin-left: 17px;
        }
        #logout-link{
            background-color: #eee;
            padding-left: 7px;
            padding-right: 7px;
            border-radius: 2px;
        }
        #logout-link a {
            color: #075e54;
        }
        #logout-link:hover a{
            background-color: #075e54;
            color: white !important;
        }
        #logout-link:hover {
            background-color: #075e54;
            color: white !important;
        }
        td a{
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
        }
        td a:hover{
            text-decoration: none;
            color: #fff;
        }
    </style>
</head>
<body>
    <section class="header">
        <section>
            <h2><a href="/">Bloggit!</a></h2>
        </section>
        <section>
            <span> {{ request.user.username }}</span>
            <span id="logout-link"><a href="/accounts/logout">Logout</a></span>
        </section>

    </section>
    <section class="container">

        <section id="btns">
            <button id="create-post-btn" onclick="toggleSection('create-post')">Create Post</button>
            <button id="manage-post-btn" onclick="toggleSection('manage-post')">Manage Posts</button>
        </section>

        <!-- Create Post Section -->
        <section id="create-post" class="form-section active">
            <div class="alert alert-success status_post" style="display: none;" role="alert" id="editor-empty-alert"></div>
            {% for message in messages %}
                <div class="alert alert-success"  role="alert" id="editor-empty-alert">
            {{ message }}
            </div>
            {% endfor %}

            <h3>Create New Post</h3>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <section class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </section>

                <section class="form-group">
                    <label for="content">Content:</label>
                    <textarea id="content" name="content"></textarea>
                </section>

                <section class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept=".png, .jpg, .jpeg">
                </section>

                <section class="form-check">
                    <input type="checkbox" class="form-check-input" id="publish" name="publish">
                    <label class="form-check-label" for="publish">Publish</label>
                </section>

                <section class="form-check">
                    <input type="checkbox" class="form-check-input" id="featured" name="featured">
                    <label class="form-check-label" for="featured">Featured</label>
                </section>

                <button type="submit" class="btn btn-primary" name="submitpost" id="make-post">Create Post</button>
            </form>
        </section>

        <!-- Manage Post Section -->
        <section id="manage-post" class="form-section">
            <h2>Manage Posts</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Publish</th>
                        <th>Featured</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class="numbering"></td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.time }}</td>

                                <td><a href="edit/{{ post.custom_id }}" class="set-btn" id="dp{{ post.custom_id }}">Edit</a></td>
                            <form action="" method="post">
                                {% csrf_token %}

                                    <input type="hidden" name="delete_id" value="{{ post.custom_id }}">
                                    <td id="dp{{ post.custom_id }}"><button class="set-btn" id = "{{ post.custom_id }}" name="deletePost">Delete</button></td>

                            </form>
                            <td><input type="checkbox" {% if post.publish == True %} checked {% endif %}  disabled></td>
                            <td><input type="checkbox" {% if post.featured == True %} checked {% endif %}  disabled></td>
                        </tr>
                    {% endfor %}                        
                </tbody>
            </table>
        </section>
    </section>
    <script>
        const api_key = "a954b21e51c809b72b5e68d5a12717ef4e2c5d3a"
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="{% static  'Javascript/summernote.js' %}"></script>
    <script>

        function toggleSection(sectionId) {
            const sections = document.querySelectorAll('.form-section');
            sections.forEach(section => section.classList.remove('active'));
            document.getElementById(sectionId).classList.add('active');
        }

        function numbering_posts(){
            const numbering = document.getElementsByClassName("numbering")

            for(let i=0; i < numbering.length; i++){
                numbering[i].innerText = i + 1
            }

        }
        numbering_posts()

function editPost(id){
    location
}

function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}

document.getElementById("make-post").addEventListener("click", function(e){

    // Function to check if Summernote is empty
    function isSummernoteEmpty() {
        var content = $('#content').summernote('code').trim();
        return content === '' || content === '<p><br></p>';
    }

        if (isSummernoteEmpty()) {
            e.preventDefault()
            document.querySelector('.status_post').innerText = "Content field can't be empty!"
            document.querySelector('.status_post').style.display = "block"

            setTimeout(() => {
                
            document.querySelector('.status_post').style.display = "none"
            }, 3000);
        } 
})
    </script>
</body>
</html>
