{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <style>
        .btn-primary{
            background-color: #075e54;
            border: 2px solid #075e54;
        }
        @media(max-width:785px){
            body{
                margin-bottom: 20px;
            }
            .site{
                margin-top: 25px;
            }
        }
    </style>

</head>
<body>
    {% include 'extensions/nav.html' %}
    <div class="alert alert-success status_post" role="alert" id="editor-empty-alert" style="display: none;">
        
    </div>
    {% for message in messages %}
        <div class="alert alert-success" role="alert" id="editor-empty-alert">
            {{ message }}
        </div>
    {% endfor %}
<div class="container mt-5">
    <h1>API Management</h1>
    <div class="container mt-5">
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Your API Key</h2>
                    </div>
                    <div class="col-md-12">
                        <input type="text" id="apiKey" class="form-control" value="{{ api_key }}" readonly><br>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" id="copyApiKey">Copy API Key</button>
                            <button class="btn btn-primary" name="reset-api-key">Reset API KEY</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 site">
                <h2>Site URLS</h2>
                <form id="apiInfoForm" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="blogPage">Blog Page URL:</label>
                        <input type="text" class="form-control" id="blogPage" name = "blogPage" placeholder="Enter Blog Page URL" value = "{{ user_sites.blog_page }}">
                    </div>
                    <div class="form-group">
                        <label for="individualPostPage">Individual Post Page URL:</label>
                        <input type="text" class="form-control" id="individualPostPage" name="individualPostPage" placeholder="Enter Individual Post Page URL" value = "{{ user_sites.individual_blog_post }}">
                    </div>
                    <button type="submit" class="btn btn-primary" id="update-sites" name="update-sites">Update Information</button>
    
                </form>
            </div>
        </div>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'Javascript/api.js' %}"></script>
</body>
</html>
