{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <title>API Documentation</title>
    <link rel="stylesheet" href="{% static 'CSS/documentation.css' %}">
</head>
<body>
    <!-- Top Navbar -->

    {% include 'extensions/nav.html' %}
    <!-- Side Navbar -->
    <nav id="sidenav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#start">Start Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#smtp">S M T P</a>
            </li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container main-content mt-4">
        <!-- Section 1: Endpoint 1 -->
        <section id="intro">
            <h1>Introduction</h1>
            <p>Here is a brief description about Bloggit!</p>
            <article>
                <p>
                    Bloggit! stands as a robust content management system designed to
                     cater to the needs of front-end developers, ensuring that they
                      can create compelling blog websites with little configurations,
                       all without the requirement of intricate backend or database
                        expertise. This user-friendly platform offers an all-in-one solution, 
                    providing a secure and efficient database to store and manage all your content effortlessly.
                </p>
                <p>
                    One of the standout features of Bloggit! is its capacity to streamline
                     the creation of dynamic navigation bars. This allows
                      developers to customize their website's menu and improve the overall user experience,
                     all without diving into the complexities of server-side development.
                </p>
                <p>
                    Moreover, Bloggit! simplifies the rendering of blog content. It enables
                     you to effortlessly showcase not only the collective blogs but also
                      individual posts, ensuring a smooth and aesthetically pleasing display. 
                    With Bloggit!, you can give your audience a seamless and engaging
                     browsing experience while maintaining full control over your website's content.
                </p>
                <p>
                    In summary, Bloggit! is the go-to choice for developers who
                     seek a hassle-free and efficient means of creating and managing
                      blog websites with little configurations, making it easier
                       than ever to share their ideas and stories with the world.
                </p>
                <p>
                    The following is th full Documentation on how to use this API.
                </p>
            </article>
        </section>

        <!-- Section 2: Endpoint 2 -->
        <section id="account">
            <h1>Set Up yor Account</h1>
            <p>Create an Account for free  <a href="/accounts/signup">here</a> </p>
            <p>You can now head to your <a href="/dashboard/admin">dashboard</a> and manage your posts</p>
            <p>You will also need to set up your Site Urls in the <a href="/dashboard/api">API page</a>; you API Key is also there</p>
            <h3>Site URLS</h3>
            <b><u>Home Page</u></b>
            <p>This is the Page where you'll have only your Featured Posts - these are posts that makes users know what to expect from your Blog.</p>
            <p>You will be able to set if each Post is featured in your <a href="/dashboard/admin">Admin Dashboard</a></p>

            <b><u>Blog Page</u></b>
            <p>This is the Page where all your posts are rendered - featured or unfeatured</p>

            <b><u>Individual Post Page</u></b>
            <p>This is where your single Posts are rendered; Each post has an unique ID. This ID must be included in the url.</p>
            <pre><code>localhost:8000/post?id=mypost7823</code></pre>

            <h1 id="start">Start Project</h1>
            <p>Create a script that contains the following; and place it in the head section of your HTML code</p>
            <pre><code>
bloggit_conf = {
    "api_key": "YOUR_API_KEY_HERE", // This is the only compulsory field
    "preloader": "veron"
    "cont_rend": "slimy-vue", // Allows you to make use of our existong template to render your Post(s)
    "header":{ // Makes you use an existing Navigation Bar
        "type": "milky-way", // Check our other navigation bar types the next paragraph
        "brand_name": "Craennie", // This is the name that will appear on the navigation bar
        "links":{
            "Home", "/home",
            "Contact", "/contact",
            // Include others
        }
    }
}
            </code></pre>
            <p>Then, include the following just below the script you've created.</p>
            <pre><code>
&lt;script src = "path/to/myscript.js"&gt;&lt;/script&gt;
            </code></pre>
            <p>These configurations will be just enough to get you started.</p>
            <b>Preloader</b>
            <p>Options: veron, loda, growdan, traffic</p>

            <b>Cont Rend</b>
            <p>Home and Blog Page - &gt; Options: slimy-vue, classic</p>
            <p>Individual Post Page - &gt; Options: cappucino</p>

            <b>Header > type</b>
            <p>Options: milky-way, </p>
            <div class="alert alert-warning" role="alert" id="editor-empty-alert">
                Note: Only the API field is compulsory to be added, the other fields can be added or removed completely.
            </div>
            <div class="alert alert-warning" role="alert" id="editor-empty-alert">
                If developer decides not to use the provided template, the data is saved in a <b>"bloggit_data"</b> variable
            </div>
           </section>

           <section id="smtp">
            <h1>SMTP</h1>
            <p>You can apply our SMTP (Simple Mail Transfer Protocol) integration to enable contact forms on your website. 
                With SMTP, your visitors can easily send messages and inquiries to your designated email address.</p>
            <p>This feature is coming soon...</p>
           </section>


           
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
                const active_link = $(".nav-link")[0]
        active_link.className = "nav-link active"
    </script>
</body>
</html>
