{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CSS/admin.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body>
    <section class="header">
        <section>
            <h2><a href="/">Bloggit!</a></h2>
        </section>
        <section>
            <span> {{ request.user.username }}</span>
            <span id="logout-link"><a href="/accounts/logout">Logout</a></span>
        </section>

    </section>
    <section class="container">

<!-- Inside the body section -->
        {% for message in messages %}
            <div class="alert alert-success" role="alert" id="editor-empty-alert">
            {{ message }}
        </div>
        {% endfor %}
        <!-- Create Post Section -->
        <section id="create-post" class="form-section active">
            <h3>Edit Post</h3>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <section class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required value = "{{ post.title }}">
                </section>

                <section class="form-group">
                    <label for="content">Content:</label>
                    <textarea id="content" name="content">{{ post.body | safe }}</textarea>
                </section>

                <section class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept=".png, .jpg, .jpeg" >
                </section>

                <section class="form-check">
                    <input type="checkbox" class="form-check-input" id="publish" name="publish" {% if post.publish == True %} checked {% endif %}>
                    <label class="form-check-label" for="publish">Publish</label>
                </section>

                <section class="form-check">
                    <input type="checkbox" class="form-check-input" id="featured" name="featured" {% if post.featured == True %} checked {% endif %}>
                    <label class="form-check-label" for="featured">Featured</label>
                </section>

                <button type="submit" class="btn btn-primary" name="submitpost" id="make-post">Create Post</button>
            </form>
        </section>
    </section>
    <script>
        const api_key = "a954b21e51c809b72b5e68d5a12717ef4e2c5d3a"
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="{% static  'Javascript/summernote.js' %}"></script>
    <!-- <script src = "{% static 'Javascript/admin.js' %}"></script>  -->
    <!--<script src = "{% static 'Javascript/make-post.js' %} "></script> 
    <script src = "{% static 'Javascript/manage-posts.js' %}"></script> -->
    <script src="{% static 'edit-post.js' %}"></script>
</body>
</html>