
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'CSS/account.css' %}">
</head>
<body>
    <div class="brand">
        <h1>Bloggit</h1>
        <p>Create Blog Applications with ease!</p>
    </div>
    <div class="container">
        <div class="login-image">
            <img src="{% static 'images/human.jpeg' %}" alt="Login Image">
        </div>
        <div class="login-container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert" id="editor-empty-alert">{{ message }}</div>
                {% endfor %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="username" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <p style="color:#075e54; text-decoration: underline;"> <a href="/accounts/signup">Create an Account</a> </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
